mixin print_err_code(code, err)
  if locals.settings.env === 'development'
    h1= code + ' ' + err
  else
    h1= err

extends layout

block title

  //- Defined err status code
  if error.status
    title= message
  else
    //- Undefined err status code
    title= 'Application Error'

block head

  link(rel='stylesheet', href='/stylesheets/error_404.css')

block content

  .container

    case error.status

      when 404
        //- Handle 404 err status code by trying to provide some assistance

        +print_err_code(error.status, message)

        // TODO: Frown face image?
        p :-(
        p Sorry, but the page you were trying to view does not exist.
        p It looks like this was the result of either:
        ul
          li a mistyped address
          li an out-of-date link
        script.
          // Google 404 Widget helper
          // https://support.google.com/webmasters/answer/136085
          var GOOG_FIXURL_LANG = 'en';
          var GOOG_FIXURL_SITE = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;

        if locals.settings.remote
          script(src='http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js')

        //- Handle undefined err status code
      default

        +print_err_code(500, 'Application Error')

        //- Handle defined err status code with a generic message.
        // TODO: Frown face image?
        p :-(
        p Sorry, but the page has erred on us.

    if locals.settings.env === 'development' || locals.settings.env === 'testing'
      pre #{error.stack}
