mixin print_err_code(code, err)
  if locals.settings.env === 'development'
    h1= code + ' ' + err
  else
    h1= err

mixin print_err_message( msg )
  div(class='float-left')
    img(width='64', height='64', class='padding-right-offset16', src="/images/frown_64.png", alt="Frown Face" )
  p(class='padding-bottom-offset25')= msg

extends layout

block title

  //- Defined err status code
  if error.status
    title= message + ' : ' + locals.settings.site_owner['company']
  else
    //- Undefined err status code
    title= 'Application Error' + ' : ' + locals.settings.site_owner['company']

block fonts

  //- if locals.settings.remote
    //- link(href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono', rel='stylesheet', type='text/css')

block head

  link(rel='stylesheet', href='/css/error.css')

block content

  //- See also: [10 Status Code Definitions](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)
  case error.status

    when 404
      //- Handle 404 err status code by trying to provide some assistance

      +print_err_code(error.status, message)
      +print_err_message("Sorry, but the page you were trying to view does not exist.")

      p It looks like this was the result of either:
      ul
        li a mistyped address
        li an out-of-date link
      script.
        // Google 404 Widget helper
        // https://support.google.com/webmasters/answer/136085
        var GOOG_FIXURL_LANG = 'en';
        var GOOG_FIXURL_SITE = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;

      if locals.settings.remote
        script(src='http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js')

    when 503
      +print_err_code(503, 'Service Unavailable')
      +print_err_message(message)

      //- Handle undefined err status code
    default

      +print_err_code(500, 'Application Error')
      +print_err_message('Sorry, but the page has erred on us.')

  p Please email &#32;
    a(href='mailto:' + locals.settings.site_owner['support_email'])= locals.settings.site_owner['support_email']
    | &#32; if you need to contact us.

  if error.stack != null && (locals.settings.env === 'development' || locals.settings.env === 'testing')
    hr
    pre(class='code-box') #{error.stack}
