extends layout

block title

  //- Defined err status code
  if error.status
    title= error.status + ' ' + message
  else
    //- Undefined err status code
    title= '500' + ' ' + 'Application Error'

block head

  link(rel='stylesheet', href='/stylesheets/error_404.css')

block content

  .container

    //- Defined err status code
    if error.status
      h1= error.status + ' ' + message

      //- Handle 404 err status code by trying to provide some assistance
      if error.status === 404

        // TODO: Frown face image?
        p :-(
        p Sorry, but the page you were trying to view does not exist.
        p It looks like this was the result of either:
        ul
          li a mistyped address
          li an out-of-date link
        script.
          // Google 404 Widget helper
          // https://support.google.com/webmasters/answer/136085
          var GOOG_FIXURL_LANG = 'en';
          var GOOG_FIXURL_SITE = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;

        if locals.settings.remote
          script(src='http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js')
      else
        //- Handle defined err status code with a generic message.
        // TODO: Frown face image?
        p :-(
        p Sorry, but the page has erred on us.

    else
      //- Handle *assumed* 500 err status code with err stack trace if we are
      //- in development mode.
      h1= '500' + ' ' + 'Application Error'

      // TODO: Frown face image?
      p :-(
      p Sorry, but the page has erred on us.

      if locals.settings.env === 'development'
        pre #{error.stack}
