//- HTML5 doctype
doctype html
html
  head

    //- Set default page title in case we forget to
    block title
      title= locals.settings.site_owner['company']

    // Meta
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content= locals.settings.site_owner['company'])

    //- TODO: Add additional keywords
    meta(name='keywords', content= locals.settings.site_owner['company'] + ', law practice, law')

    if locals.settings.env === 'development'
      //- Disable Mobile Safari zoom capability -- in case we are testing within
      //- iPhone Simulator
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    else
      //- Optimized design for modern mobile browsers (Mobile Safari, Chrome)
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // Disable automatic telephone number detection so we can explicitly specify
    // telephone number links.
    //
    // The rationale for this was to prevent fax phone numbers from being
    // linkable as such (i.e.: contact info page)
    //
    // Source: https://developer.apple.com/library/ios/featuredarticles/iPhoneURLScheme_Reference/PhoneLinks/PhoneLinks.html
    meta(name='format-detection', content='telephone=no')

    // Enable ClearType font rendering for MS IE
    meta(http-equiv='cleartype', content='on')

    //- Additional meta tags (per page)
    block meta

    // CSS
    link(href='/css/common.css', rel='stylesheet', type='text/css', media='screen')
    link(href='/css/style.css', rel='stylesheet', type='text/css', media='screen')

    // Use mobile styling for both device and small desktop windows
    //- link(href='/css/mobile.css', rel='stylesheet', type='text/css', media='only screen and (max-width: 767px), only screen and (max-device-width: 767px)')
    link(href='/css/mobile.css', rel='stylesheet', type='text/css', media='only screen and (max-device-width: 767px)')

    // Google Web Fonts
    // http://www.google.com/fonts/
    if locals.settings.remote
      link(href='http://fonts.googleapis.com/css?family=Arbutus+Slab', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:italic,400,600,800', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Lora:italic,400,600,800', rel='stylesheet', type='text/css')

      // Experimental fonts
      //- link(href='http://fonts.googleapis.com/css?family=Adamina', rel='stylesheet', type='text/css')

    //- Additional web fonts (per page)
    block fonts

    // JavaScript
    if locals.settings.env === 'development'
      //- script(src='/js/lib/modernizr_v2.8.3.js')
    else
      //- script(src='/js/lib/modernizr_v2.8.3.min.js')

    //- Site helpers
    script(src='/js/helpers.js')

    if locals.settings.remote
      // Google Custom Search Engine
      script(src='/js/google_search.js')

    if locals.settings.env === 'development'
      // LiveReload
      script.
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

    //- Additional head-level block (specific per page)
    block head

  body(class='page')
    header
      div(class='header')
        a(class='company-header', href='/index')= locals.settings.site_owner['company']

        //- FIXME:
        //- img( align='', src='/images/logo_small.png', alt='')

        nav
          include site_navigation

      //- Additional header-level elements (specific per page)
      block header

    div(class='content_container')

      //- Page content (specific per page)
      block content

    //- Optionally included per page with include directive
    block help

    footer
      div(class='footer')
        include site_footer

        //- Additional footer-level elements (specific per page)
        block footer

    // Additional JavaScripts (deferred loading)
    if locals.settings.env === 'development'
      script(src="/js/lib/jquery-1.11.1.js")
    else
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

    // Fancy small display navigation menu (depends on jQuery)
    script(src="/js/nav.js")

    if locals.settings.remote
      // Google Analytics
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53873847-1', 'auto');
        ga('send', 'pageview');

    //- Additional deferred loading of JavaScripts (per page)
    block deferred_js
