
//- http://stackoverflow.com/questions/5697863/dynamic-links-with-jade
- var nav_links = [ { title: 'About', href: 'about' }, { title: 'Areas of Practice', href: 'practice' }, { title: 'Contact', href: 'contact' }, { title: 'Blog', href: 'index' } ];

doctype html
html
  head
    - if( site_company != null )
      title= site_company

    // Meta
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content= site_company)

    //- TODO: Add additional keywords
    meta(name='keywords', content= 'avery law firm, law practice, law')

    meta(name='viewport', content='width=device-width')

    if ENV['site'] != 'offline'
      link(href='stylesheets/google_cse.css', rel='stylesheet', type='text/css', media='screen')

    // CSS
    link(href='stylesheets/common.css', rel='stylesheet', type='text/css', media='screen')
    link(href='stylesheets/style.css', rel='stylesheet', type='text/css', media='screen')

    // Use mobile styling for both device and small desktop windows
    link(href='stylesheets/mobile.css', rel='stylesheet', type='text/css', media='only screen and (max-width: 480px), only screen and (max-device-width: 480px)')

    // Fonts
    if ENV['site'] != 'offline'
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:italic,400,600,800', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Lora:italic,400,600,800', rel='stylesheet', type='text/css')

    // JavaScript
    script(src='javascripts/helpers.js')

    if ENV['site'] != 'offline'
      script(src='javascripts/google_search.js')

    if ENV['app'] === 'development'
    script.
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

    //- Additional head-level block (specific per page)
    block head

  body(id='page')
      header
        div(id='header')

          div(class='site_header')
            h1
              a(href='index')= site_company

              //- FIXME:
              //- img( align='', src='images/logo_small.png', alt='')

          nav
            div(id='nav')
              - each link in nav_links
                a(href=link.href) #{link.title}

              form(action='/search_results', method='get')
                input(id='google_cse', class='search_input', type='search', name='q', spellcheck='false', autocomplete='off', accesskey='s', onfocus='', onblur='' )
                button(id='search_button', type='submit')

              //- div(align='center',class='site_message')
                //- p ERROR MSG

            //- div(class='toc')
              //- - each link in topics
                a(href=link.href) #{link.title}

            //- Additional header-level elements (specific per page)
            block header

      div(id='content_container')
        //- Page content (specific per page)
        block content

      footer
        div(id='footer')
          hr
          header
            div(id='nav_container')
              nav
                //- FIXME:
                div(id='nav', style='text-align: center;')
                  br
                  - each link in nav_links
                    a(href=link.href) #{link.title}
                  br
                  br

          strong DISCLAIMER:
            span(class='disclaimer')  THIS SITE IS FOR INFORMATIONAL PURPOSES ONLY; ITS CONTENTS DO NOT CONSTITUTE LEGAL ADVICE OR AN ATTORNEY-CLIENT RELATIONSHIP BETWEEN #{site_company} OR ITS ATTORNEYS AND ANY RECEIVER. THE INFORMATION PROVIDED ON THESE PAGES IS GENERAL ONLY, AND YOU SHOULD NOT ACT UPON THIS INFORMATION WITHOUT CONSULTING WITH AN ATTORNEY. IF YOU SEND ANY CONFIDENTIAL INFORMATION TO US AND YOU ARE NOT A CLIENT OF OUR LAW FIRM, THE INFORMATION SHALL LOSE ITS CONFIDENTIAL STATUS. FURTHERMORE, IF THE UNSOLICITED INFORMATION YOU SEND TO OUR LAW FIRM IS BENEFICIAL TO OUR CLIENTS AND ADVERSE TO YOU, THE INFORMATION YOU PROVIDE MAY BE USED EVEN IF IT IS CONTRARY TO YOUR INTERESTS.

          br
          br

          p(class='copyright') Copyright (c) 2014 #{site_company} ALL RIGHTS RESERVED

          //- Additional footer-level elements (specific per page)
          block footer
