extends layout

block title

  //- if topic.href != '/practice'
    title= topic.title + ' : ' + 'Areas of Practice'
  //- else
    title= 'Areas of Practice' + ' : ' + locals.settings.site_owner['company']

  title= 'Areas of Practice' + ' : ' + locals.settings.site_owner['company']

block head

block content

  .welcome-container
    block help
      include help

  div(class='section group practice')

    div(class='col two-cols-span1')
      :markdown
        <h1 class='heading1 align-text-center'>
          What We <span class='bold sky-blue'>Practice</span>
        </h1>

      - for( var i = 1; i != topics.length; ++i )
        div(align='left')
          h2= topics[i].title

          if typeof topics[i].load === 'function'
            locals.md!=locals.md(topics[i].load() )

    div(class='col two-cols-span2')
      h2 Questions?
      include contact_form

block footer
