
// http://stackoverflow.com/questions/5697863/dynamic-links-with-jade
- var navi_links = [ { title: 'About', href: 'index' }, { title: 'Office Locations', href: 'index' }, { title: 'Areas of Practice', href: 'index' }, { title: 'Contact', href: 'index' }, { title: 'Blog', href: 'index' } ];

doctype html
html
  head
    title= site_company

    // Meta
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content= site_company)

    // TODO: Add additional keywords
    meta(name='keywords', content= 'avery law firm, law practice, law')

    // CSS
    link(href='stylesheets/style.css', rel='stylesheet', type='text/css', media='screen')

    // Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:italic,400,600,800', rel='stylesheet', type='text/css')

    block head

  body
    #page_wrap
      header
        //- div(class='header-n')
        //- span(class='welcome')= site_company
        //- span(class='option')

        div(class='header', align='center')
          // FIXME:
          // img( align='left', src='images/logo_small.png', alt='')
          h1
            a( href='index')= site_company

        nav
          div(class='nav_down')
            //- a(href=navi_links[0].href) #{navi_links[0].title}
            - each link in navi_links
              a(href=link.href) #{link.title}

            div(class='form-mm')
              form(align='center', action='', method='get')
                input( id='searchbar', class='mm_input', type='text', name='search_site', autocomplete='off', accesskey='s', value='Search site...', onfocus='clear_value_if_default(this, \'Search site...\')' onblur='set_default_value_if_null(this, \'Search site...\')' )
                input( name='action', type='hidden', value='go')

            // div(class='site_message') ERROR MSG

      #content_wrap

        //- div(class='toc')
          //- - each link in topics
            a(href=link.href) #{link.title}

        block content

    footer
      nav
        hr
        br
        div(class='nav_down', align='center')
          //- a(href=navi_links[0].href) #{navi_links[0].title}
          - each link in navi_links
            a(href=link.href) #{link.title}
        br
        br

        // TODO: Use disclaimer CSS class
        div(align='center')
          small
            strong DISCLAIMER:
              i
                |  THIS SITE IS FOR INFORMATIONAL PURPOSES ONLY; ITS CONTENTS DO NOT CONSTITUTE LEGAL ADVICE OR AN ATTORNEY-CLIENT RELATIONSHIP BETWEEN AVERY LAW FIRM OR ITS ATTORNEYS AND ANY RECEIVER. THE INFORMATION PROVIDED ON THESE PAGES IS GENERAL ONLY, AND YOU SHOULD NOT ACT UPON THIS INFORMATION WITHOUT CONSULTING WITH AN ATTORNEY. IF YOU SEND ANY CONFIDENTIAL INFORMATION TO US AND YOU ARE NOT A CLIENT OF OUR LAW FIRM, THE INFORMATION SHALL LOSE ITS CONFIDENTIAL STATUS. FURTHERMORE, IF THE UNSOLICITED INFORMATION YOU SEND TO OUR LAW FIRM IS BENEFICIAL TO OUR CLIENTS AND ADVERSE TO YOU, THE INFORMATION YOU PROVIDE MAY BE USED EVEN IF IT IS CONTRARY TO YOUR INTERESTS.
          br
          br
          small
            | www.averylawfirm.com Copyright (c) 2014 #{site_company} ALL RIGHTS RESERVED

    // Defer loading JavaScript until the last moment possible; this fixes a
    // visual glitch with the search input box and navigational links.
    script(type='text/javascript', src='javascripts/helpers.js')
