//- Blogger JavaScript, REST API Documentation
//-
//- https://developers.google.com/blogger/docs/3.0/getting_started
//- https://developers.google.com/blogger/docs/3.0/reference/index

//- http://javascriptplayground.com/blog/2013/06/node-and-google-oauth/
//- http://code.blogger.com/2012/01/easier-to-use-interface-for-blogger.html
//- https://developers.google.com/accounts/docs/OAuth2WebServer#incrementalAuth
//- http://www.threelas.com/2012/12/basic-blog-resources-of-blogger-api-v3.html

extends layout

block title

  title= locals.settings.nav_links['blog'].title + ' : ' + locals.settings.site_owner['company']

block head

  //- script.
  //-   function handleResponse2( res ) {
  //-     var num_comments = res.replies.totalItems;
  //-     var selflink_comments = res.replies.selfLink;
  //-   }

block content
  if typeof blogspot != 'undefined'
    //- - console.log(blogspot.author);
    //- - console.log(blogspot.author.displayName);

    - each post in blogspot.posts
      p= post.published
      p= post.title
      p!= post.content

      p= post.author.displayName
      a(href=post.selfLink) Permalink
      p= post.updated
      p= post.labels
      a(href=post.url) Blog Post URL
      p= post.comments.totalItems + ' ' + 'Comments'
      //- a(href= comments.selfLink ) Comments

  //- #blog
  //- #author
    p Authored by:
  //- #comments
  //- #permalink
  //- #published
    p Published on:
  //- #updated
    p Last updated on:
  //- #labels
    p Labels:
  //- #active_url

  //- script.
    function handleResponse( res ) {
      console.log(res);
      document.getElementById("blog").innerHTML += "<h1>" + res.title + "</h1>" + res.content;
      document.getElementById('published').innerHTML += '<p>' + res.published + '</p>';
      document.getElementById('updated').innerHTML += '<p>' + res.updated + '</p>';
      document.getElementById('labels').innerHTML += '<p>' + res.labels + '</p>';
      document.getElementById('author').innerHTML += '<p>' + '<a href="' + res.author.url + '">' + res.author.displayName + '</a>' + '</p>';
      //- document.getElementById('author').innerHTML += '<img src="' + res.author.image.url + '" alt="Google Profile Image" />';
      document.getElementById('permalink').innerHTML += '<p>' + '<a href="' + res.selfLink + '">' + 'Permalink' + '</a>' + '</p>';
      document.getElementById('active_url').innerHTML += '<p>' + '<a href="' + res.url + '">' + 'Active URL' + '</a>' + '</p>';

      //- FIXME: We hit daily quota limits if we try getting the response object for res.replies.selfLink.
      document.getElementById('comments').innerHTML += '<p>' + res.replies.totalItems + ' ' + '<a href="' + res.replies.selfLink + '">' + 'Comments' + '</a>' + '</p>';

    }

  //- script(src='https://www.googleapis.com/blogger/v3/blogs/1358910749199223219/posts/8009725998532404742?callback=handleResponse&key=AIzaSyDFtApOdyUp576HNtsMaMuGlK1HDu_2PD0')

block footer
