//- Blogger JavaScript, REST API Documentation
//-
//- https://developers.google.com/blogger/docs/3.0/getting_started
//- https://developers.google.com/blogger/docs/3.0/reference/index

//- http://javascriptplayground.com/blog/2013/06/node-and-google-oauth/
//- http://code.blogger.com/2012/01/easier-to-use-interface-for-blogger.html
//- https://developers.google.com/accounts/docs/OAuth2WebServer#incrementalAuth
//- http://www.threelas.com/2012/12/basic-blog-resources-of-blogger-api-v3.html

//- Notes
//-
//- Blogger Pages are not supported.
//- Multiple blogs are not supported.
//-

//- Why?
//- The JavaScript API was not used because a) No JS support, no page; b)
//- strong dislike of the mixing of tags and variables; c) OAuth2 support?
//- (unverified).

//- Features
//-
//- Optional rendering with Markdown

//- TODO

//- Additional blog variables to support (undecided):
//- blog_id.name, blog_id.description, blog_id.published, blog_id.updated, blog_id.url
//- blog_id.posts.totalItems
//- blog_id.locale.language, blog_id.locale.country, blog_id.locale.variant
//- Page view API request (probably not)..?

//- Look over params options in detail (googleapis.blogger)

//- https://developers.google.com/blogger/docs/3.0/performance

//- Research back links; see also: https://support.google.com/blogger/answer/42533?hl=en

//- Research RSS feeds

//- Search API (interface); see also: posts.search request

//- Pagination for posts and comments; see also (clue): prev, next tokens in
//- response header objects... params.maxResults

//- blog/year/month/day URL routing support; see also: params.startDate,
//- params.endDate for a posts.list request

//- search/label/tag URL routing support; see also: params.labels for a
//- posts.list request

//- Blog Archive logic

//- Research difference between selfLink and url ?

//- Share buttons; +1 button

//- [RFC 3339 Compliant Timestamps](https://www.ietf.org/rfc/rfc3339.txt)

extends ../layout

block title

  title= locals.settings.nav_links['blog'].title + ' : ' + locals.settings.site_owner['company']

block head

block content

  if typeof auth_url != 'undefined'

    include blogger_auth

  else if typeof posts != 'undefined'

    - each post in posts

      if post.published
        p= post.published

      if post.title
        a(href=post.selfLink )
          h1= post.title

      //- Unbuffered output; this relies on Google's service for properly
      //- validating and sanitizing (i.e.: escaping HTML tags).
      if post.content

        if locals.settings.blog.posts['enable_markdown']
          locals.md!=locals.md( post.content )
        else
          p!= post.content

      hr

      p
        if post.author
          | Posted by &#32;
          a(href= post.author.url )= post.author.displayName

        //- FIXME: Implement single post view
        if post.selfLink
          | &#32;| &#32;
          a(href=post.selfLink) Permalink

      if post.updated
        p Last updated on #{post.updated}

      if post.labels
        p Labels: #{post.labels}

      //- FIXME: Implement single post view
      //- if post.url
        a(href=post.url) Blog Post URL

      if post.replies
        p
          a(href= '/blog/blog_comments?blog_id=' + post.blog.id + '&post_id=' + post.id ) #{post.replies.totalItems} Comments
      else
        p No comments

      hr

block footer
