extends ../layout

block title

  //- TODO
  title= locals.settings.nav_links['blog'].title + ' : ' + locals.settings.site_owner['company']

block head

block content

  //- - console.log(comments);

  if typeof auth_url != 'undefined'

    include blogger_auth

  if typeof posts != 'undefined'
    - var post = posts.post;
    include post_partial

  if typeof comments != 'undefined'

    //- We might want to use the totalItems count from the top-level posts
    //- object for this comment -- might help harden the app from weird
    //- breakage...
    h2 #{comments.length} comments:

    - each comment in comments
      p
        if comment.author

          if comment.author.url
            a(class='', href= comment.author.url )= comment.author.displayName
          else
            span(class='')= comment.author.displayName

        //- Jump anchor for comment
        if comment.id && comment.published
          | &#32;|&#32;
          a(id= comment.id, href= locals.loc.path + '#' + comment.id )= comment.published

      //- Not supported as per official docs
      //- if comment.updated
        p Last updated on #{comment.updated}

      if comment.title
        h1= comment.title

      //- Unbuffered output; this relies on Google's service for properly
      //- validating and sanitizing (i.e.: escaping HTML tags).
      if comment.content

        if locals.settings.blog.comments['enable_markdown']
          locals.md!=locals.md( comment.content )
        else
          p!= comment.content

      //- NOTE: Unfinished implementation; would also need authentication of
      //- some sort (to display the link or not)
      //- a(href='/blog/delete_comment?blog_id=' + comment.blog.id + '&post_id=' + comment.post.id + '&comment_id=' + comment.id ) Delete

      hr

    h1 Post A Comment

    include comment_form

block footer
